PORT=5001
NODE_ENV=development
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.gffeycejwinonqffvekr.supabase.co:5432/postgres
DB_SSL=true
JWT_SECRET=super_secret_jwt_key_change_in_production
CORS_ORIGIN=*
